# Ignorer les fichiers de configuration sensibles
.env
config/*.php

# database/*.sql

# Ignorer les fichiers temporaires
*.log
*.cache
node_modules/
vendor/

# Ignorer les fichiers de configuration locaux
.env
.env.local

# Ignorer les fichiers de build
build/

# Ignorer les fichiers de dépendances de système d'exploitation
.DS_Store
Thumbs.db

# Ignorer le repertoir storage
storage