:root {
    --background: #030B20;
    --background-hover: #151821;
    --card-hover: #1E293B;
    --blue: #3B82F6;
    --primary: #3B82F6;
    --primary-hover: #2563EB;
    --border: #1E293B;
    --text: #FFFFFF;
    --text-secondary: #94A3B8;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

p{
    color: var(--text-secondary);
    text-align: left;
    margin-top: 1%;
}

.ad-container{
    width: 100%;
    max-width: 400px;
    text-align: center;
}



.ad-card {
    background: var(--background);
    padding: 2rem;
    width: 40%;
    max-width: 450px; /* Ajuste la largeur pour ne pas couvrir toute la page */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid var(--text-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre parfaitement le formulaire */
}


.ad-form {
    display: block;
    text-align: left;
    background: var(--background);
    margin-bottom: -2.5px;
}

.ad-form h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    
}

.form-group {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color:  var(--text);
    width: 180px;
    text-align: left; 
    overflow: hidden;
}

.display{
  display: flex;
  align-items: center;  /* Aligne l'icône et l'input */
  border: 1px  solid var(--text-secondary);
  border-radius: 10px;
  padding: 5px;
  background: var(--background);
  width: 100%;
  transition: border 0.3s ease-in-out;
  color: var(--text-secondary);
}

.form-group .display:focus {
    border: 1px solid var(--blue); /* Bordure bleue au focus */
  }

.form-group input {
    flex: 1;
    width: 100%;
    padding: 5px 5px 5px 15px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    background: transparent;
    color:var(--text-secondary);
    outline: none;
}

.form-group input::placeholder , i{
    color: var(--text-secondary);
}

 i{
    width: 20px;
    height: 8px;
    margin-right: 5px;
}


.submit-btn {
    width: 100%;
    padding: 8px;
    background: #3b82f6;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #051831;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #2563eb;
}


/* RESPONSIVE DESIGN*/
@media (max-width: 768px) {
    .ad-card {
        max-width: 90%;
    }
}
