/* ==================================================
   Fichier CSS fusionné et harmonisé
   ================================================== */

/* Variables globales */
:root {
    --background: hsl(222, 85%, 7%);
    --card: hsl(222, 65%, 12%);
    --card-bg: linear-gradient(135deg, #030B20 0%, #030F2A 100%);
    --card-hover: #1E293B;
    --card-hv: #1a2a437e;
    --blue-opac: #2564eb25;
    --border: #1E293B;
    --text: #FFFFFF;
    --text-secondary: #94A3B8;
    --blue: #3B82F6;
    --primary: #3B82F6;
    --primary-hover: #2563EB;
    --green: #22C55E;
    --yellow: #EAB308;
    --red: #EF4444;
}
.card-bg {
    background: var(--card-bg);
  }
  
/* Reset global */
* {
    box-sizing: border-box;
}

/* Body */
body {
    background-color: var(--background);
    color: var(--text);
    /* line-height: 1.5; */
    min-height: 100vh;
}

main {
    padding: 1rem 0;
    background: linear-gradient(to bottom,
            transparent,
            var(--background)),
        radial-gradient(circle at top, rgba(59, 130, 246, 0.25),
            transparent 30%);
}

.container {
    width: 100%;
    /* Ensure it takes the full width */
    max-width: 1400px;
    /* This may limit the width */
    margin: 0 auto;
    /* Centering may affect width */
}

/* ==================================================
   RESPONSIVE STYLES
   ================================================== */
@media (max-width: 768px) {
    .stats-container {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        display: none;
    }
}

@media (max-width: 480px) {
    .stats-container {
        grid-template-columns: 1fr;
    }
}