/* ==================================================
   HEADER
   ================================================== */
   :root {
    --background: hsl(222, 85%, 7%);
    --card: hsl(222, 65%, 12%);
    --card-bg: linear-gradient(135deg, #030B20 0%, #030F2A 100%);
    --card-hover: #1E293B;
    --card-hv: #1a2a437e;
    --blue-opac: #2564eb25;
    --border: #1E293B;
    --text: #FFFFFF;
    --text-secondary: #94A3B8;
    --blue: #3B82F6;
    --primary: #3B82F6;
    --primary-hover: #2563EB;
    --green: #22C55E;
    --yellow: #EAB308;
    --red: #EF4444;
}

.fade-in {
    opacity: 0;
    transform: translateY(2rem);
    /* Déplace légèrement vers le bas */
    transition: opacity 1s ease, transform 1s ease-in-out;
    /* Transition douce */
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
    /* Remet à sa position d'origine */
}

.fade-out {
    opacity: 1;
    transform: translateY(0);
    /* Remet à sa position d'origine */
    transition: opacity 1s ease, transform 1s ease;
    /* Transition douce */
}

.fade-out.visible {
    opacity: 0;
    transform: translateY(2rem);
    /* Déplace légèrement vers le bas */
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-6rem);
    /* Déplace légèrement vers la gauche */
    transition: opacity 1s ease, transform 1s ease;
    /* Transition douce */
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
    /* Remet à sa position d'origine */
}

.fade-in-right {
    opacity: 0;
    transform: translateX(6rem);
    /* Déplace légèrement vers la droite */
    transition: opacity 1s ease, transform 1s ease;
    /* Transition douce */
}

.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0);
    /* Remet à sa position d'origine */
}

/* HEADER */
header {
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: blur(2rem); /* For Safari */
    backdrop-filter: blur(2rem);
    z-index: 10;
}

a{
    text-decoration: none;
    color: var(--text);
}

.card-bg {
    background: var(--card-bg);
  }
  

.header-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
}

.logo-circle {
    width: 32px;
    height: 32px;
    background-color: var(--blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.main-nav {
    display: flex;
    gap: 0.2rem;
}

.main-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    color: var(--text);
    transition: color 0.2s;
    list-style: none;
}

.main-nav li:hover, .main-nav li.active {
    background-color: var(--card-hover);
    color: var(--text);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.notification-btn {
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-btn{
    border: none;
    background-color: none;
    color: var(--text-secondary);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.profile-btn:hover{
    background-color: var(--blue-opac);
    color: var(--primary-hover);
}
.profile-btn:hover svg{
    stroke: var(--primary-hover);
}

.profile-btn svg{
    stroke: var(--text-secondary);
}

.nav-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 0.375rem;
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;
    transition: opacity 0.2s ease-in 0.1s, visibility 0.1s ease-in 0.1s;
}

.header-dropdown.visible {
    opacity: 1;
    visibility: visible; 
    transition: opacity 0.2s ease-in 0.2s, visibility 0.1s ease-in 0.1s; 
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: transform 0.2s ease-in;
    overflow: hidden;
    position: relative;
}

.dropdown{
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: transform 0.2s ease-in;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    width: 100%;
    min-width: 100%;
    opacity: 0;
    transition: transform 0.1s ease-in, opacity 0.1s ease-in;
}

.dropdown-item.active {
    opacity: 1; /* Show the active item */
}

.dropdown-item li{
    cursor: pointer;
    list-style: none;
    width: 100%;
    padding: 1rem 0.5rem;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;
}

.dropdown-item li:hover{
    transition: all 0.2s ease-in-out;
    background-color: var(--primary-hover);
}